@import 'variables';

@font-face {
  font-family: 'iconfont';
  src: url('http://at.alicdn.com/t/font_1410691819_4998763.eot'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_1410691819_4998763.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_1410691819_4998763.woff') format('woff'), /* chrome、firefox */
  url('http://at.alicdn.com/t/font_1410691819_4998763.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_1410691819_4998763.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{font-family:"iconfont" !important; font-size: 1.5rem;font-style:normal; font-smoothing: antialiased; text-stroke-width: 0.2px; -moz-osx-font-smoothing: grayscale;}

body {font-family: "Microsoft YaHei", sans-serif; font-size: 16px; background: #eee @light_back; line-height: 1.25em; }

h1, h2, h3, h4, h5 ,h6 {font-weight: bold; line-height: 2em;}

h1 {font-size: 2em;}
h2 {font-size: 1.75em;}
h3 {font-size: 1.625em;}
h4 {font-size: 1.125em;}
blockquote {font-size: 1.25em;line-height: 1.25em;}
