@import '../_base/variables';

#totop {
    display: none;
    
}

@media only screen and (min-width:40rem) {
    #totop {
        position: fixed;
        z-index: 100;
        display: block;
        width: 3rem;
        right: 3rem;
        bottom: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        border-radius: .5rem;
        font-size: 2rem;
        background-color: #bbb;
        color: #222;
        opacity: .8;
        text-decoration: none;
        &:hover {
            color: #fff;
            background-color: @theme_color;
        }
    }
}