extends base

prepend window_title
    = page.category

block content
    h1.type-title 
        =page.category
        i.iconfont &nbsp;&#xe605;
    - page.posts.each(function(post){
        include _partial/article_meta
    - })
    include _partial/pagination
