div.jiathis_style_32x32
    a.jiathis_button_qzone
    a.jiathis_button_tsina
    a.jiathis_button_tqq
    a.jiathis_button_weixin
    a.jiathis_button_renren
    a.jiathis.jiathis_txt.jtico.jtico_jiathis(href='http://www.jiathis.com/share?uid=#{theme.jiathis.id}', target='_blank')
script(type='text/javascript').
    var jiathis_config = {data_track_clickback:'true'};    
script(type='text/javascript', src='http://v3.jiathis.com/code/jia.js?uid=#{theme.jiathis.id}', charset='utf-8')
