section.recent
    h3.title.iconfont
        =__('recent_posts')
        i &#xe601;
    div.links
        ul
            - site.posts.sort('date', -1).limit(5).each(function(post){
                li
                    a(href=config.root + post.path)
                        = post.title
            - })